<div class="welcome">
  <h1>{{title}}</h1>
  {{> @partial-block }}
  <p>and I can put other stuff here.</p>
  <h2>this is another thing.</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, quo atque? Consectetur eum ea, perspiciatis minus molestias hic modi a doloribus, vel labore mollitia iusto libero tenetur quas accusantium repellat?</p>
</div>